/* *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;background-color: aquamarine;font-variant:small-caps;
}
p {
    font-size: larger;font-style: italic;font-variant: small-caps;background-color: blue;
} */
 h3{
    color: blueviolet;
 }